a {
  text-decoration: none;
  font-weight: bold;
  color: #0c3680;
  transition: 0.3s;
}

a:hover {
  background-color: #ffdd70;
  border-radius: 10%;
}

.competitionInput {
  height: 2em;
  border-radius: 0.6em;
  border-width: 1px;
  padding-left: 10px;
  width: 100%;
}

.competitionInput:focus {
  outline: none;
}

.competitionInputForm {
  min-width: 50%;
}

.headingCellText {
  font-weight: bold;
  font-size: medium;
}

.headingRow {
  background-color: #76db74;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #b8519ef5, #1aca4fc2),
    url("./components/img/bg1.jpg") center fixed;
  -webkit-overflow-scrolling: touch;
  background-size: cover;
}

.mainHeading {
  text-align: center;
  color: #000000;
  font-size: 3.5em;
}

.searchText {
  font-size: 1.5em;
}

.socialLinks {
  max-width: 2.5em;
  transition: 0.5s;
}

.socialLinks:hover {
  max-width: 3em;
  background: transparent;
}

.socialLinksContainer {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 3em;
}

.socialLinksImages {
  width: 100%;
}

.subHeading {
  border: none;
  background: transparent;
  font-size: 1.5em;
  border-radius: 0.5em;
  transition: 0.5s;
}

.subHeading:hover {
  background-color: #ffdd70;
  font-size: 1.8em;
}

.subText {
  padding: 2.5em;
  text-align: center;
}
