.mainMatchesContainer {
  text-align: center;
  align-content: center;
  background-color: lightblue;
  border: 1px solid grey;
}

.matchDayContainer {
  align-self: center;
  border: 1px solid grey;
  min-width: 75%;
}

p.FINISHED {
  color: red;
  font-weight: bold;
}
p.IN_PLAY {
  color: green;
  font-weight: bold;
}
p.PAUSED {
  color: darkorange;
  font-weight: bold;
}
p.SCHEDULED {
  color: blue;
  font-weight: bold;
}

.teamLogo {
  height: auto;
  width: 60px;
  padding: 4px;
}
