button.changeOrderBtn {
  background: transparent;
  padding: 0.5em;
  width: 5em;
  border: none;
  border-bottom: 2px solid;
  transition: 0.5s;
}
button.changeOrderBtn:hover {
  background: lightgrey;
  border-radius: 1em;
}

.graphContainer {
}

.tooltipContainer {
  height: auto;
  width: 8em;
  background-color: lightgrey;
  border: 1px solid goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
}

.toolTipImage {
  height: 3em;
  width: 4em;
  filter: drop-shadow(0 0 0.1rem grey);
}

.toolTipLabel {
  font-size: 100%;
  font-weight: 600;
}

.toolTipStats {
  font-size: 80%;
}

.toolTipStatsContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
