.tooltipContainer {
  height: 15em;
  width: 50%;
  background-color: lightgrey;
  border: 1px solid goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
}

.toolTipImage {
  height: auto;
  width: 50%;
  filter: drop-shadow(0 0 0.1rem grey);
}

.toolTipLabel {
  font-size: 100%;
  font-weight: 600;
}

.toolTipStats {
  padding: 2%;
}

.toolTipStatsContainer {
  display: flex;
  flex-direction: row;
}
