.tooltipContainer {
  background-color: lightgrey;
  border: 1px solid goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  width: "100%";
}

.toolTipImage {
  height: 100px;
  width: 100px;
}

.toolTipLabel {
  font-size: 16px;
  font-weight: 600;
}

.toolTipStats {
  padding: 0.5em;
}

.toolTipStatsContainer {
  display: flex;
  flex-direction: row;
}
